<app-form-card title="Register">
  <form body>
    <app-text-input
      htmlId="username"
      iconClasses="pi pi-user"
      placeholder="Username"
    />
    <app-text-input
      htmlId="email"
      iconClasses="pi pi-at"
      placeholder="Email"
      type="email"
    />
    <app-password-input htmlId="password" placeholder="Password" />
    <app-password-input
      htmlId="confirm-password"
      placeholder="Confirm Password"
    />
  </form>

  <p-button footer icon="pi pi-check" label="Submit" type="button" />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
