<app-form-card title="Forgot Password">
  <form [formGroup]="forgotPasswordForm" body>
    <app-input-group [parentForm]="forgotPasswordForm" iconClasses="pi pi-at">
      <input
        formControlName="email"
        id="email"
        name="email"
        pInputText
        placeholder="Email"
        type="email"
      />
    </app-input-group>
  </form>

  <p-button
    (click)="submitForm()"
    [disabled]="!forgotPasswordForm.valid"
    footer
    icon="pi pi-send"
    label="Send"
    type="button"
  />

  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />

  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
