<app-form-card title="Login">
  <form [formGroup]="forgotPasswordForm" body>
    <app-text-input
      [formGroup]="forgotPasswordForm"
      controlName="email"
      htmlId="email"
      iconClasses="pi pi-at"
      name="email"
      placeholder="Email"
      type="email"
    />
  </form>

  <p-button
    (click)="submitForm()"
    footer
    icon="pi pi-check"
    label="Submit"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
