<app-form-card title="Forgot Password">
  <form [formGroup]="form" body>
    <span class="p-float-label">
      <input
        class="w-full"
        formControlName="email"
        id="email"
        name="email"
        pInputText
        placeholder="Email"
        type="email"
      />
      <label for="email">Email</label>
    </span>
  </form>

  <p-button
    (click)="submitForm()"
    [disabled]="!form.valid"
    footer
    icon="pi pi-send"
    label="Send"
    type="button"
  />

  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />

  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
