<app-form-card title="Login">
  <form body>
    <app-password-input htmlId="password" placeholder="Password" />
    <app-password-input
      htmlId="confirm-password"
      placeholder="Confirm Password"
    />
  </form>

  <p-button footer icon="pi pi-check" label="Submit" type="button" />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
