<p-toast></p-toast>
<app-form-card title="Login">
  <form [formGroup]="form" body>
    <span class="p-float-label">
      <input
        [ngClass]="
          email?.invalid && (email?.dirty || email?.touched)
            ? 'ng-invalid ng-dirty'
            : ''
        "
        class="w-full"
        formControlName="email"
        id="email"
        name="email"
        pInputText
        type="email"
      />
      <label for="email">Email</label>
    </span>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <small
        *ngIf="email?.errors?.['required']"
        class="p-error"
        id="required-email"
      >
        Email is required.
      </small>
      <small
        *ngIf="email?.errors?.['pattern']"
        class="p-error"
        id="invalid-email"
      >
        Email format is invalid.
      </small>
    </div>

    <span class="p-float-label mt-4">
      <input
        [feedback]="false"
        [ngClass]="
          password?.invalid && (password?.dirty || password?.touched)
            ? 'ng-invalid ng-dirty'
            : ''
        "
        class="w-full"
        formControlName="password"
        id="password"
        pPassword
        type="password"
      />
      <label for="password">Password</label>
    </span>

    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <small
        *ngIf="password?.errors?.['required']"
        class="p-error"
        id="required-password"
      >
        Password is required.
      </small>
      <small
        *ngIf="password?.errors?.['minlength']"
        class="p-error"
        id="minlength-password"
      >
        Password must be at least 6 characters.
      </small>
      <small
        *ngIf="password?.errors?.['maxlength']"
        class="p-error"
        id="maxlength-password"
      >
        Password must be at most 24 characters.
      </small>
    </div>
  </form>

  <p-button
    (click)="submitForm()"
    [disabled]="!form.valid"
    footer
    icon="pi pi-check"
    label="Enter"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Forgot Password"
    routerLink="/forgot-password"
    type="button"
  />
</app-form-card>
