<h1>Hello {{ username }}!</h1>
<p>Looks like you're forgot your password</p>

<a href="{{ url }}" target="_blank">Reset Password</a>

<p>If the link doesn't work, copy and paste the URL into your browser.</p>
<p> {{ url }}
