<app-form-card title="Reset Password">
  <form [formGroup]="form" body>
    <span class="p-float-label">
      <input
        [feedback]="false"
        class="w-full"
        formControlName="password"
        id="password"
        pPassword
        placeholder="Password"
        type="password"
      />
      <label for="password">Password</label>
    </span>

    <span class="p-float-label mt-4">
      <input
        [feedback]="false"
        class="w-full"
        formControlName="confirmPassword"
        id="confirmPassword"
        pPassword
        placeholder="Confirm Password"
        type="password"
      />
      <label for="confirmPassword">Confirm Password</label>
    </span>
  </form>

  <p-button
    (click)="submitForm()"
    [disabled]="!form.valid"
    footer
    icon="pi pi-check"
    label="Submit"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
