<app-form-card title="Reset Password">
  <form [formGroup]="form" body>
    <app-input-group [parentForm]="form" iconClasses="pi pi-lock">
      <span class="p-float-label">
        <input
          [feedback]="false"
          formControlName="password"
          id="password"
          pPassword
          placeholder="Password"
          type="password"
        />
        <label for="password">Password</label>
      </span>
    </app-input-group>
    <app-input-group [parentForm]="form" iconClasses="pi pi-lock">
      <span class="p-float-label">
        <input
          [feedback]="false"
          formControlName="confirmPassword"
          id="confirmPassword"
          pPassword
          placeholder="Confirm Password"
          type="password"
        />
        <label for="confirmPassword">Confirm Password</label>
      </span>
    </app-input-group>
  </form>

  <p-button
    (click)="submitForm()"
    [disabled]="!form.valid"
    footer
    icon="pi pi-check"
    label="Submit"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Create Account"
    routerLink="/signup"
    type="button"
  />
  <p-button
    footer
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Login"
    routerLink="/login"
    type="button"
  />
</app-form-card>
